$colorFondo: aliceblue;

$coloSobreFondo: rgba(240, 248, 255, 0.575);

$colorSombra: rgba(146, 146, 146, 0.664);

$fuentePrimaria: "Yeseva One",
cursive;

$fuenteSecundaria: 'Raleway',
sans-serif;

/* MAP */
$tituloSeparador: (borde: solid,
    alineacion: center,
    colorFondo: $colorFondo,
    radioBorde: 20px,
    grosor: bold,
    fuente: $fuentePrimaria,
    padding: 10px,
);

@mixin tamaños ($width, $height) {
    width: $width;
    height: $height;

}