@charset "UTF-8";
/* MAP */
/* Extend */
.tituloSeparador, .tipoPestanias h3, .cuidado h3 {
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px;
  font-weight: bold;
  font-family: "Yeseva One", cursive;
  padding: 10px; }

/* HTML */
html {
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  padding: 10px; }
  html h1 {
    font-family: "Yeseva One", cursive;
    font-weight: 100; }

body {
  background: radial-gradient(ellipse 90% 75%, rgba(255, 203, 233, 0.938) 30%, white);
  border-radius: 10px;
  padding: 15px;
  font-family: "Raleway", sans-serif; }
  body img {
    border-radius: 10px; }

/* Boton bootstrap */
.btn-primary {
  color: black;
  background-color: aliceblue;
  font-weight: 600;
  border-color: black; }
  .btn-primary:hover {
    background-color: rgba(146, 146, 146, 0.664);
    border-color: black; }

/* Navbar */
header {
  padding-bottom: 15px; }

.menuBoot {
  border-color: #3d3c3c;
  border-style: groove;
  background-color: aliceblue; }

.menuItems {
  flex-wrap: wrap; }

.navbar-nav {
  gap: 20px; }

.navbar-brand {
  font-family: "Yeseva One", cursive;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 30px; }

.nav-item:hover {
  font-weight: 600;
  letter-spacing: 2px;
  transition: letter-spacing 0.6s; }

.active {
  font-weight: bolder; }

.menuBorder {
  border-left: solid;
  border-width: 1px;
  padding-left: 20px; }

.turnos, .turnos1 {
  background-color: aliceblue;
  border-radius: 20px;
  margin-right: 5px;
  color: black;
  font-weight: bold;
  border-color: black; }
  .turnos img, .turnos1 img {
    width: 25px;
    height: 25px; }

/* Logos y Titulo */
.logoTitulo {
  --bs-gutter-x: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 15px 20px; }
  .logoTitulo h1 {
    margin: 0px 0px 0px 10px;
    text-decoration: underline;
    width: auto; }

#logo {
  width: 80px;
  height: auto; }

#logo1 {
  width: 120px;
  height: auto; }

/* Section */
.section {
  --bs-gutter-x: 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.575); }

/* INDEX */
/* Presentacion */
.carousel {
  max-width: 700px;
  height: auto; }

.carousel-indicators {
  margin-left: 0px; }

.carousel-caption {
  color: black;
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.575);
  border-radius: 5px; }
  .carousel-caption h5 {
    font-weight: bold; }

.textopres {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px; }
  .textopres h3 {
    justify-content: center;
    margin-bottom: 30px; }
  .textopres img {
    margin-right: 10px;
    height: auto;
    border-radius: 40px; }
  .textopres p {
    margin-top: 10px;
    font-weight: bolder;
    text-align: center;
    align-items: center; }

.loNuevo {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-around; }
  .loNuevo h4 {
    text-align: center; }
  .loNuevo div {
    padding-top: 10px;
    padding: 10px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .loNuevo a img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px rgba(146, 146, 146, 0.664);
    transition: 1s; }
    .loNuevo a img:hover {
      filter: blur(1.4px);
      width: 200px;
      height: 200px; }

/* PESTAÑAS */
.contenedorPestañas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px; }

.tipoPestanias {
  margin-bottom: 50px; }
  .tipoPestanias p {
    text-align: center;
    font-style: oblique;
    font-size: 15px; }
  .tipoPestanias ul {
    list-style: upper-roman; }
    .tipoPestanias ul li {
      text-decoration: none;
      margin-top: 30px; }
      .tipoPestanias ul li h5 {
        font-weight: bold;
        text-decoration: underline; }
      .tipoPestanias ul li p {
        font-weight: 100; }
      .tipoPestanias ul li ul li {
        color: #d687c5;
        font-weight: bold;
        margin-bottom: 0px;
        margin-top: 0px;
        list-style: none; }
    .tipoPestanias ul p {
      text-align: justify; }

#sinEspacio {
  margin-top: 15px; }

.pestanias {
  padding-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: aliceblue; }
  .pestanias ul {
    margin-left: 0px; }
    .pestanias ul li {
      margin: 5px; }

.fotoBoot {
  align-self: center;
  max-width: 500px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px; }

/* EXTEND */
.turnos1 {
  flex-grow: 1; }

.turnoDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

/* PROMOCIONES */
.contenedorPromo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px; }

.promocion {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 3px 3px rgba(146, 146, 146, 0.664);
  padding-bottom: 10px;
  margin-bottom: 25px; }
  .promocion h3 {
    text-align: center;
    font-weight: bold; }
  .promocion img {
    width: 220px;
    height: 180px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(146, 146, 146, 0.664);
    --bs-gutter-x: 0px; }
  .promocion ul {
    padding: 5px;
    list-style: none;
    text-align: center; }
  .promocion p {
    text-align: center;
    font-weight: bold;
    flex-grow: 1; }

.botonAcordeon {
  color: #4072fc;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline; }

.textoAcordeon {
  font-style: italic; }

/* CUIDADOS */
.contenedorCuidados {
  display: flex;
  flex-direction: column; }
  .contenedorCuidados h3 {
    font-weight: bolder; }
  .contenedorCuidados h5 {
    font-weight: bold; }

.cuidado {
  margin-bottom: 20px; }
  .cuidado h3 {
    padding: 5px; }
  .cuidado p {
    text-align: center; }
  .cuidado ul li {
    margin: 5px; }

.pregunt h3 {
  width: 100%;
  padding: 5px;
  /* Map-get con dos distintas sintaxis */
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px; }

.pregunt p {
  font-style: italic; }

/* CONTACTO */
.contenedorContacto h4 {
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold; }

.articuloContacto {
  --bs-gutter-x: 0px;
  margin: 25px 0px; }
  .articuloContacto div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    flex-wrap: wrap; }
    .articuloContacto div a {
      font-size: 20px;
      border-radius: 10px;
      text-decoration: none;
      color: black;
      font-weight: bold;
      border-color: black;
      background-color: aliceblue; }
      .articuloContacto div a img {
        width: 40px;
        height: 40px;
        margin-left: 10px; }
    .articuloContacto div div {
      margin-top: 20px;
      flex-direction: column;
      align-items: center; }
    .articuloContacto div img {
      width: 400px;
      height: 350px;
      margin-bottom: 5px; }

.horarios {
  padding-right: 10px;
  --bs-gutter-x: 0px;
  align-items: flex-start; }
  .horarios ul {
    list-style: none;
    padding: 0px; }
    .horarios ul li {
      padding: 5px; }

.ubicacion {
  padding-left: 10px;
  --bs-gutter-x: 0px;
  align-items: flex-start;
  justify-content: center; }
  .ubicacion iframe {
    width: 400px;
    height: 200px;
    border: 0px;
    margin-left: 5px; }

/* NOSOTROS */
.contenedorNosotros h2 {
  border-style: solid;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
  align-self: flex-start;
  padding: 10px 15px;
  font-weight: bold; }

.contenedorNosotros h4 {
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold; }

.aboutus {
  --bs-gutter-x: 0px;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 50px; }
  .aboutus div {
    padding-left: 25px; }
  .aboutus p {
    text-align: center;
    font-weight: 600; }
  .aboutus img {
    --bs-gutter-x: 0px;
    width: 100%;
    height: 100%;
    border-radius: 20px; }

.opinion {
  --bs-gutter-x: 0px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .opinion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; }
    .opinion form button {
      border-color: black;
      background-color: aliceblue;
      color: black; }

#dejarOpinion {
  width: 100%;
  margin-bottom: 10px; }

/* FOOTER */
.footer {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0px 5px 15px;
  border-radius: 15px; }
  .footer a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px; }
    .footer a:hover {
      background-color: rgba(146, 146, 146, 0.664); }

.footer3 {
  display: flex;
  justify-content: space-around; }

.flotante {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 25; }
  .flotante img {
    width: 40px;
    height: 40px; }

/* MediaQueries - Responsive */
@media screen and (min-width: 500px) and (max-width: 991px) {
  .menuBorder {
    border-left: none;
    padding-left: 0px; }
  /* Navbar */
  header {
    position: sticky;
    top: 0px;
    z-index: 50; }
  /* INDEX */
  .textopres img {
    margin: 10px;
    width: 409px;
    height: auto;
    margin-right: 0px; }
  .textopres p {
    width: 100%; }
  /* PESTAÑAS */
  /* PROMOCIONES */
  /* CUIDADOS */
  /* CONTACTO */
  /* NOSOTROS */
  .horarios {
    text-align: center; }
  .aboutus {
    flex-direction: column;
    align-items: center; }
    .aboutus div {
      width: 75%;
      margin-bottom: 15px; }
  /* Footer */
  .flotante {
    display: block; }
  .footer {
    justify-content: space-around; }
    .footer a {
      margin-right: 40px; } }

@media screen and (max-width: 499px) {
  .menuBorder {
    border-left: none;
    padding-left: 0px; }
  /* Navbar */
  header {
    position: sticky;
    top: 0px;
    z-index: 50; }
    header h1 {
      display: flex;
      flex-wrap: wrap; }
  /* Logo y titulo */
  #logo1 {
    width: 100px;
    height: auto; }
  .bsGutter {
    --bs-gutter-x: 0px; }
  /* INDEX */
  .carousel {
    height: 250px; }
  .carousel-item img {
    width: 100%;
    height: 250px; }
  .carousel-item p {
    display: none; }
  .textopres {
    margin-bottom: 0px; }
    .textopres img {
      margin-right: 0px; }
  .loNuevo {
    flex-direction: column; }
  /* PESTAÑAS */
  .contenedorPestañas {
    flex-direction: column; }
    .contenedorPestañas article {
      display: flex;
      flex-direction: column; }
  .turnoDiv {
    flex-direction: column; }
    .turnoDiv a {
      margin-bottom: 10px; }
  /* PROMOCIONES */
  .promocion {
    width: auto; }
  /* CUIDADOS */
  /* CONTACTO */
  .articuloContacto a {
    margin-left: 10px; }
  .articuloContacto div {
    margin-bottom: 10px; }
    .articuloContacto div img {
      width: 250px;
      height: 200px; }
  .ubicacion {
    margin-top: 30px; }
    .ubicacion h4 {
      margin-bottom: 20px; }
    .ubicacion iframe {
      width: 100%;
      height: auto; }
  /* NOSOTROS */
  .nosotros {
    justify-items: flex-start; }
  .aboutus div {
    margin-bottom: 15px; }
  /* Footer */
  .flotante {
    display: block; }
  .footer {
    text-align: center;
    gap: 10px;
    flex-direction: column; }
  .footer3 {
    margin-top: 20px;
    margin-left: 20px;
    flex-direction: column;
    align-items: center; } }
