@charset "UTF-8";
/* MAP */
/* HTML */
html {
  font-family: "Fira Sans", sans-serif;
  background-color: white;
  padding: 10px; }
  html h1 {
    font-family: "Yeseva One", cursive;
    font-weight: 100; }

body {
  background: radial-gradient(ellipse 90% 75%, rgba(255, 203, 233, 0.938) 30%, white);
  border-radius: 10px;
  padding: 15px;
  font-family: "Raleway", sans-serif; }
  body img {
    border-radius: 10px; }

/* Nav */
header {
  padding-bottom: 15px; }

.menuBoot {
  border-color: #3d3c3c;
  border-style: groove;
  background-color: aliceblue; }

.menuItems {
  flex-wrap: wrap;
  justify-content: space-between; }

.navbar-nav {
  gap: 20px; }

.navbar-brand {
  font-family: "Yeseva One", cursive;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 30px; }

.menuBorder {
  border-left: solid;
  border-width: 1px;
  padding-left: 20px; }

.turnos, .turnos1 {
  background-color: aliceblue;
  border-radius: 20px;
  margin-right: 5px;
  color: black;
  font-weight: bold;
  border-color: black; }
  .turnos img, .turnos1 img {
    width: 25px;
    height: 25px; }

/* EXTEND */
.turnos1 {
  flex-grow: 1; }

.turnoDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.logoTitulo {
  --bs-gutter-x: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px 0px 15px 20px; }
  .logoTitulo h1 {
    margin: 0px 0px 0px 10px;
    text-decoration: underline; }

#logo {
  width: 80px;
  height: auto; }

#logo1 {
  width: 120px;
  height: auto; }

/* Section */
section {
  --bs-gutter-x: 0px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(240, 248, 255, 0.575); }

/* INDEX */
/* Presentacion */
.presentacion {
  display: flex;
  --bs-gutter-x: 0px; }

.videopres iframe {
  width: 560px;
  height: 315px;
  border: 0;
  padding: 0px; }

.textopres {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px; }
  .textopres h3 {
    margin: 0;
    text-align: center; }
  .textopres p {
    margin-top: 10px; }

.loNuevo {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-around; }
  .loNuevo h4 {
    text-align: center; }
  .loNuevo div {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .loNuevo a img {
    width: 180px;
    height: 180px;
    /* width: 180px;
            height: 180px; */
    border-radius: 20px;
    background-color: aliceblue;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px rgba(124, 124, 124, 0.541);
    transition: 1s; }
    .loNuevo a img:hover {
      filter: blur(1.4px);
      width: 200px;
      height: 200px; }

.carousel {
  max-width: 700px;
  height: 100%; }

.carousel-item img {
  width: 100%;
  height: 400px; }

.carousel-caption {
  color: black;
  font-weight: bold;
  background-color: rgba(240, 248, 255, 0.575);
  border-radius: 5px; }
  .carousel-caption h5 {
    font-weight: bold; }

/* PESTAÑAS */
.seccionPestañas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 25px; }
  .seccionPestañas article h3 {
    font-weight: bold; }

.pestanias {
  padding-top: 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: aliceblue; }
  .pestanias ul {
    margin-left: 0px; }
    .pestanias ul li {
      margin: 5px; }

.fotoBoot {
  max-width: 500px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px; }

/* PROMOCIONES */
.contenedorPromo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px; }

.promocion {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: 3px 3px rgba(124, 124, 124, 0.541);
  padding-bottom: 10px; }
  .promocion h3 {
    text-align: center;
    font-weight: bold; }
  .promocion img {
    width: 220px;
    height: 180px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px rgba(124, 124, 124, 0.541);
    --bs-gutter-x: 0px; }
  .promocion ul {
    padding: 5px;
    list-style: none;
    text-align: center; }
  .promocion p {
    text-align: center;
    flex-grow: 1; }

.leerMas {
  /* se puede eliminar */ }
  .leerMas li {
    display: none; }
    .leerMas li:hover {
      display: block; }

/* CUIDADOS */
.cuidados {
  display: flex;
  flex-direction: column; }
  .cuidados h3 {
    font-weight: bolder; }
  .cuidados h5 {
    font-weight: bold; }

.cuidado {
  margin-bottom: 20px;
  /* Extend */ }
  .cuidado .tituloSeparador, .cuidado h3 {
    border-style: solid;
    text-align: center;
    background-color: aliceblue;
    border-radius: 20px; }
  .cuidado h3 {
    padding: 5px; }
  .cuidado p {
    text-align: center; }
  .cuidado ul li {
    margin: 5px; }

.pregunt h3 {
  width: 100%;
  padding: 5px;
  /* Map-get con dos distintas sintaxis */
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px; }

/* CONTACTO */
.sectionContacto h4 {
  /* @extend .tituloSeparador; porque esto no se aplica? */
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold; }

.articuloContacto {
  --bs-gutter-x: 0px;
  margin: 25px 0px; }

.contacto {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px; }
  .contacto a {
    font-size: 20px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold; }
    .contacto a:hover {
      background-color: rgba(124, 124, 124, 0.541); }
  .contacto img {
    width: 40px;
    height: 40px;
    margin-left: 10px; }

.horarios {
  padding-right: 10px;
  --bs-gutter-x: 0px;
  align-items: flex-start; }
  .horarios ul {
    list-style: none;
    padding: 0px; }
    .horarios ul li {
      padding: 5px; }

.ubicacion {
  padding-left: 10px;
  --bs-gutter-x: 0px;
  align-items: flex-start;
  justify-content: center; }
  .ubicacion iframe {
    width: 400px;
    height: 200px;
    border: 0px;
    margin-left: 5px; }

/* NOSOTROS */
.nosotros h2 {
  border-style: solid;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
  margin: 0px;
  align-self: flex-start;
  /* .row agrega display:flex */
  padding: 10px 15px;
  font-weight: bold; }

.nosotros h4 {
  border-style: solid;
  text-align: center;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px 15px;
  font-weight: bold; }

.aboutus {
  --bs-gutter-x: 0px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 50px; }
  .aboutus p {
    text-align: center; }
  .aboutus img {
    --bs-gutter-x: 0px;
    width: 250px;
    height: 230px; }

.opinion {
  --bs-gutter-x: 0px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column; }
  .opinion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px; }

/* FOOTER */
.footer {
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 20px 20px 20px;
  border-radius: 15px; }
  .footer a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px; }
    .footer a:hover {
      background-color: rgba(124, 124, 124, 0.541); }

.footer3 {
  display: flex;
  justify-content: space-around; }

/* MediaQueries - Responsive */
@media screen and (min-width: 500px) and (max-width: 991px) {
  /* INDEX */
  .menu {
    justify-content: flex-start; }
  .logoTitulo {
    flex-wrap: nowrap; }
  .presentacion {
    flex-direction: column;
    flex-wrap: wrap; }
  .textopres {
    margin-top: 10px; }
  .loNuevo {
    flex-wrap: wrap; }
  /* PESTAÑAS */
  /* GALERIA */
  .fotos {
    justify-content: space-evenly; }
  /* PROMOCIONES */
  /* CUIDADOS */
  /* NOSOTROS */
  .horarios {
    text-align: center; } }

@media screen and (max-width: 499px) {
  /* INDEX */
  header {
    position: relative; }
  .menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; }
    .menu ul {
      flex-direction: column;
      padding-left: 0px;
      margin: 0px; }
  .logoTitulo {
    flex-wrap: wrap; }
  .presentacion {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left; }
  .textopres {
    margin-top: 10px; }
  .videopres iframe {
    width: 100%;
    height: auto; }
  .loNuevo {
    flex-direction: column; }
  /* PESTAÑAS */
  .seccionPestañas {
    flex-direction: column; }
    .seccionPestañas article {
      display: flex;
      flex-direction: column; }
  .pestañas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto; }
  /* GALERIA */
  .fotos {
    flex-direction: column; }
  /* PROMOCIONES */
  .promocion {
    width: auto; }
  /* CUIDADOS */
  /* NOSOTROS */
  .nosotros {
    justify-items: flex-start; }
  .aboutus {
    flex-direction: column; }
  #dejarOpinion {
    width: 100%; }
  .ubicacion iframe {
    width: 100%;
    height: auto; }
  /* Footer */
  body footer {
    gap: 10px; }
    body footer nav {
      display: flex;
      text-align: center;
      gap: 10px;
      flex-direction: column;
      gap: 10px; } }
